# Archivos generados por el compilador
build/
*.o
*.exe

# Archivos generados por Bison
src/parser/parser.tab.c
src/parser/parser.tab.h
src/parser/parser.output

# Archivos generados por Flex
src/lexer/lexer.yy.c

# Ejecutable
mi_compilador
mi_compilador.exe

# Archivos de depuración
*.dSYM/
*.su
*.idb
*.pdb
